<!-- views/partials/header.ejs -->
          <!-- Conteúdo do navbar -->
          <div class="mainimage">
                <div class="navcont container">
                    <ul id="navbar" class="nv nvnames" style="margin-left:22%">
                            <li>
                                <a  class= "nv"  href="#home">HOME</a>
                            </li>
                            <li>
                                <a class= "nv" href="#about">ABOUT</a>
                            </li>
                            <li>
                                <a class= "nv" href="#blogt">BLOG</a>
                            </li>
                            <li>
                                <a class= "nv" href="#resume">RESUME</a>
                            </li>
                            <li>
                                <a class= "nv" href="#testimonial">TESTIMONIALS</a>
                            </li>
                            <li>
                                <a class= "nv" href="#contact">CONTACT</a>
                            </li>
                            <li>
                                <a class= "nv" href="/admin"><i class="fas fa-lock"></i></a>
                            </li>
                        </ul>
                </div>
                <div class="row banner">
                    <div class="banner-text">
                        <h1 class="bannertitle">I'm Taina Lima.</h1>

                        <h3 class="bannersubtitle">I'm a Salvador based
                            <span class="bannersubtitleisolatedword">Full Stack Developer</span>
                            and 
                            <span class="bannersubtitleisolatedword">Cooker</span>
                            creating effective 
                            <span class="sndlinesubtitle">experiences for real people.</span>
                            <br>
                            <br>
                            <br>
                            <div class="bannerlasttext">Without further ado, let's learn more
                                <span><a class="smoothscroll" href="#about">about Taina.</a> </span>
                            </div>
                            <hr class="line">
                            <ul class="social">
                                <li class="fabhover">
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://www.linkedin.com/in/taina-lima-70749087/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://github.com/tainaml">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://www.facebook.com/tainaml">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="arrow">
                                <a class="nv" href=""><i class="fas fa-arrow-circle-down"></i></a> 
                            </div>
                        </h3>
                    </div>
                </div>
            </div>

            <!-- About Section -->

            <div class="secondimage">
                    <div class="container">
                            <div class="row">
                              <div class="col-md-4">
                                    <img class="profilepicture"  src="images/minhafoto.jpg" alt="" />
                              </div>
                              <div class="col-md-4">
                                  <div class="container containerabout">
                                        <h2 class="aboutfirst">About Taina</h2>
                                        <p class="aboutmetext">Taina began using Linux at the age of 3 (literally opening NES games with bash); Programming at the age of 7 (RPG Maker had a rather algorithmical flow); Designing UIs for Big Data manipulation in Qt at the age of 12 (Angelo would attend to his mom’s Data Processing classes); Angelo then began autonomously learning and programming for web at the age of 16 (around the time he have joined a C-sound and Pure Data study group in the university while also learning Java with Processing.org); He had also the opportunity to study Telecommunications Systems Engineering for 2 years in Barcelona, with notable skills in Calculus, Object Oriented Programming and Interface Engineering;</p>
                                        <div class="row">
                                            <p>Contact Details</p>
                                                <p class="address">
                                                    <span>Taina Lima</span><br>
                                                    <span>600 Clara Nunes St.<br> 
                                                          Salvador, BA 41810425 BR
                                                    </span><br>
                                                    <span>+55 71 99166-8840</span><br>
                                                </p>
                                       </div>
                                 </div>

                          </div>
        </div> -->
       
            




  