<!-- views/partials/header.ejs -->
          <!-- Conteúdo do navbar -->
          <div class="mainimage">
                <div class="container">
                    <ul id="navbar" class="nv nvnames" style="margin-left:22%">
                            <li>
                                <a  class= "nv"  href="#home">HOME</a>
                            </li>
                            <li>
                                <a class= "nv" href="#about">ABOUT</a>
                            </li>
                            <li>
                                <a class= "nv" href="#blogt">BLOG</a>
                            </li>
                            <li>
                                <a class= "nv" href="#resume">RESUME</a>
                            </li>
                            <li>
                                <a class= "nv" href="#testimonial">TESTIMONIALS</a>
                            </li>
                            <li>
                                <a class= "nv" href="#contact">CONTACT</a>
                            </li>
                            <li>
                                <a class= "nv" href="/admin"><i class="fas fa-lock"></i></a>
                            </li>
                        </ul>
                </div>
                <div class="row banner">
                    <div>
                        <h1 class="bannertitle">I'm Taina Lima.</h1>

                        <h3 class="bannersubtitle">I'm a Salvador based
                            <span class="bannersubtitleisolatedword">Junior developer</span>
                            and 
                            <span class="bannersubtitleisolatedword">Cooker</span>
                            creating effective 
                            <span class="sndlinesubtitle">experiences for real people.</span>
                            <br>
                            <br>
                            <br>
                            <div class="bannerlasttext">Without further ado, let's learn more
                                <span><a class="smoothscroll" href="#about">about Taina.</a> </span>
                            </div>
                            <hr>
                            <ul>
                                <li class="fabhover">
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://www.linkedin.com/in/taina-lima-70749087/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://github.com/tainaml">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://www.facebook.com/tainaml">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="arrow">
                                <a class="nv" href=""><i class="fas fa-arrow-circle-down"></i></a> 
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- About Section -->
            <div class="secondimage">
                    <div class="container">
                            <div class="row">
                              <div class="col-md-4">
                                    <img class="profilepicture"  src="images/minhafoto.jpg" alt="" />
                              </div>
                              <div class="col-md-4">
                                  <div class="container containerabout">
                                        <h2 class="aboutfirst">About Taina</h2>
                                        <p class="aboutmetext">Taina desde pequena é fã de tecnologia.
                                            ela sempre sempre diz que quando pequena ganhou dos seus pais um SNES e um computador para a casa mas a partir desses dias ela  não passou a largar mais a curiosidade
                                            por tecnologias.
                                            Sim, ela zerou o super mario, donkey kong e muitos outros e sempre ajudou (e ajuda até hoje) a família e amigos com suas soluções voltadas para a área.
                                            Além disso ela gosta de cozinhar e embora tenha o diploma em Gastronomia - tirado em 2014 -, ela viu que se sentriria mais relizada profissionalemente cursando o que ela tanto gostou e o que ela teve contato
                                            mais cedo e foi assim que ela viu que Ciência da Computação era o seu curso. E passam-se os anos e cada vez mais a paixão dela por tecnologias aumenta!

                                            <p class="aboutmetext">Atualmente Taina Lima é Analista de Sistemas na TW2 Sistemas, - uma empresa de automação comercial voltada principalmente para restaurantes - onde contribuo para o melhor funcionamento dos softwares desenvolvidos.</p>
                                            ;</p>
                                            
                                        <div class="row">

                                            <div class="col-md-4">
                                                <p class="contactdetails">Contact Details</p>
                                                <p class="address">
                                                    <span>Taina Lima</span><br>
                                                    <span>600 Clara Nunes St.<br> 
                                                          Salvador, BA 41810425 BR
                                                    </span>
                                                    <br>
                                                    <span>+55 71 99166-8840</span><br>
                                                    </p>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="downloads/cv.txt" download="w" class="button" target="blank"><i class="fa fa-download"></i> Download CV</a>
                                            </div>
                                       </div>
                                 </div>
                          </div>
        </div> -->
       
            




  