<!-- views/partials/header.ejs -->
          <!-- Conteúdo do navbar -->
          <div class="mainimage">
                <div class="navcont container">
                <ul id="navbar" class="nv nvnames" style="margin-left:22%">
                        <li class= "fabhover">
                            <a  href="#home">HOME</a>
                        </li>
                        <li>
                            <a class= "fabhover" href="#about" style="color: white">ABOUT</a>
                        </li>
                        <li>
                            <a class= "nv" href="#blogt" style="color: white">BLOG</a>
                        </li>
                        <li>
                            <a class= "nv" href="#resume" style="color: white">RESUME</a>
                        </li>
                        <li>
                            <a class= "nv" href="#testimonial" style="color: white">TESTIMONIALS</a>
                        </li>
                        <li>
                            <a class= "nv" href="#contact" style="color: white">CONTACT</a>
                        </li>
                        <li>
                            <a class= "nv" href="/admin" style="color: white"><i class="fas fa-lock"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="row banner">
                    <div class="banner-text">
                        <h1 class="bannertitle">I'm Taina Lima.</h1>

                        <h3 class="bannersubtitle">I'm a Salvador based
                            <span class="bannersubtitleisolatedword">Full Stack Developer</span>
                            and 
                            <span class="bannersubtitleisolatedword">Cooker</span>
                            creating effective 
                            <span class="sndlinesubtitle">experiences for real people.</span>
                            <br>
                            <br>
                            <br>
                            <div class="bannerlasttext">Without further ado, let's learn more
                                <span><a class="smoothscroll" href="#about">about Taina.</a> </span>
                            </div>
                            <hr>
                            <ul class="social">
                                <li class="fabhover">
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://www.linkedin.com/in/taina-lima-70749087/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://github.com/tainaml">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://www.facebook.com/tainaml">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="nv arrow">
                                <a href="" style="color: white"><i class="fas fa-arrow-circle-down"></i></a> 
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="secondimage"></div>
       

  