<!-- views/partials/header.ejs -->
          <!-- Conteúdo do navbar -->
            <div class="mainimage">
                <div class="container">
                    <ul id="navbar" class="nv nvnames" style="margin-left:22%">
                            <li>
                                <a  class= "nv"  href="#home">HOME</a>
                            </li>
                            <li>
                                <a class= "nv" href="#about">ABOUT</a>
                            </li>
                            <li>
                                <a class= "nv" href="#blogt">BLOG</a>
                            </li>
                            <li>
                                <a class= "nv" href="#resume">RESUME</a>
                            </li>
                            <li>
                                <a class= "nv" href="#testimonial">TESTIMONIALS</a>
                            </li>
                            <li>
                                <a class= "nv" href="#contact">CONTACT</a>
                            </li>
                            <li>
                                <a class= "nv" href="/admin"><i class="fas fa-lock"></i></a>
                            </li>
                        </ul>
                </div>
                <div class="row banner">
                    <div>
                        <h1 class="bannertitle">I'm Taina Lima.</h1>

                        <h3 class="bannersubtitle">I'm a Salvador based
                            <span class="bannersubtitleisolatedword">Junior developer</span>
                            and 
                            <span class="bannersubtitleisolatedword">Cooker</span>
                            creating effective 
                            <span class="sndlinesubtitle">experiences for real people.</span>
                            <br>
                            <br>
                            <br>
                            <div class="bannerlasttext">Without further ado, let's learn more
                                <span><a class="smoothscroll" href="#about">about Taina.</a> </span>
                            </div>
                            <hr class="line">
                            <ul>
                                <li class="fabhover">
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://www.linkedin.com/in/taina-lima-70749087/">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://github.com/tainaml">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li class="fabhover">
                                    <a href="https://www.facebook.com/tainaml">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="arrow">
                                <a class="nv" href=""><i class="fas fa-arrow-circle-down"></i></a> 
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
            <!-- About Section -->
            <div class="secondimage">
                    <div class="container">
                            <div class="row">
                              <div class="col-md-4">
                                    <img class="profilepicture"  src="images/defpic.jpeg" alt="" />
                              </div>
                              <div class="col-md-4">
                                  <div class="container containerabout">
                                        <h2 class="aboutfirst">About Taina</h2>
                                        <p class="aboutmetext">
                                            Taina since childhood is a fan of technology. she always always says that when she was a little girl she earned her parents a SNES and a computer for the house, but from those days she did not give up her curiosity about technologies. Yes, she zeroed in on super mario, donkey kong and many others and always helped (and helps until today) family and friends with their solutions geared to the area. Besides, she likes to cook and although she has a degree in Gastronomy - taken in 2014 - she saw that she would feel more professionally fulfilled by taking what she liked so much and what she had contact with earlier and that is how she saw that Science Computing was his course. And years go by and more and more her passion for technologies increases!

                                            <p class="aboutmetext">Currently Taina Lima is Systems Analyst at TW2 Sistemas, - a commercial automation company focused mainly on restaurants - where it contributes to the better functioning of the developed software.</p>
                                            ;</p>
                                            
                                        <div class="row">

                                            <div class="col-md-4">
                                                <p class="contactdetails">Contact Details</p>
                                                <p class="address">
                                                    <span>Taina Lima</span><br>
                                                    <span>600 Clara Nunes St.<br> 
                                                          Salvador, BA 41810425 BR
                                                    </span>
                                                    <br>
                                                    <span>+55 71 99166-8840</span><br>
                                                    </p>
                                            </div>
                                            <div class="col-md-4">
                                                <a href="downloads/cv.txt" download="CV - Taina" class="button" target="blank"><i class="fa fa-download"></i> Download CV</a>
                                            </div>
                                       </div>
                                 </div>
                          </div>
                        
                </div>
                <div class="thirdimage">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        
                </div>

        </div> -->
       
       
                    

       
            




  