<!-- views/partials/header.ejs -->
          <!-- Conteúdo do navbar -->
                <ul id="navbar" class="nvnames" style="margin-left:22%">
                        <li>
                            <a href="#home" style="color: white">HOMETAINA</a>
                        </li>
                        <li>
                            <a href="#about" style="color: white">ABOUT</a>
                        </li>
                        <li>
                            <a href="#blogt" style="color: white">BLOG</a>
                        </li>
                        <li>
                            <a href="#resume" style="color: white">RESUME</a>
                        </li>
                        <li>
                            <a href="#testimonials" style="color: white">TESTIMONIALS</a>
                        </li>
                        <li>
                            <a href="#contact" style="color:white">CONTACT</a>
                        </li>
                        <li>
                            <a style="color: white" href="/admin"><i class="fas fa-lock"></i></a>
                        </li>
                    </ul>
                <div class="row banner">
                    <div class="banner-text">
                        <h1 class="bannertitle">I'm Taina Lima.</h1>

                        <h3 class="bannersubtitle">I'm a Salvador based
                            <span class="bannersubtitleisolatedword">Full Stack Developer</span>
                            and 
                            <span class="bannersubtitleisolatedword">Cooker</span>
                            creating 
                            <span class="sndlinesubtitle">effective experiences for real people.</span>
                            <br>
                            <br>
                            <div class="bannerlasttext">Without further ado, let's learn more
                                <span><a class="smoothscroll" href="#about">about Taina.</a> </span>
                            </div>
                            <hr>
                            <ul class="social">
                                <li>
                                    <a href="">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fab fa-github"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                            </ul>
                            <div class="arrow">
                                <a href=""><i style="color: white" class="fas fa-arrow-circle-down"></i></a> 
                            </div>
                        </h3>
                    </div>
                </div>
       

  