*{
    margin: 0;
}

body {
    padding-top: 0px;
}


li {
    display: inline;
    padding: 8px 13px;
    line-height: 32px;
    font-size: 12px;
    font-family: 'opensans-bold', sans-serif;  
    font-weight: 600;
    font-style: normal;
}

.fabhover :hover {
    color: #FF7F00;
    text-decoration: none;
}

.button {
    margin-top: 20px;
    background: #444;
    font: 16px/30px 'opensans-bold', sans-serif;
   display: inline-block;
     text-decoration: none;
    letter-spacing: 0;
    color: #fff;
     padding: 12px 20px;
     margin-bottom: 18px;
    border: none;
    cursor: pointer;
    height: auto;
    margin-right: 40%;
    margin-left: -40%
}

.button {
    background:#444;
}

.button:hover {

    background: white;
    color: #0D0D0D;
}

.aboutfirst {
    margin-left: 0.1%;
    color: white;
    font-size: 18px;
    margin-top: 8%;
    font-family: 'opensans-bold', sans-serif;
    line-height: 22px;
    font-weight: bold;
    font-style: normal;
}

.contact {
    color: white;
}

.profiletitle{
    font-family: 'opensans-bold', sans-serif;  
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 30px;
    color: white;
    margin-top: 6%;

}

.containerabout {
    width: 20%;
}

.aboutmetext {
    font-family: 'Open-Sans-Regular', 'Sans-Serif';
    line-height: 26px;
    color: #7a7a7a;
    /* padding-right: 5%;
    padding-right: 10%;  */
    width: 40%;
    text-align: justify;
    word-spacing: 0px;
}

.profilepicture{
    position: relative;
    width: 180px;
    height: 200px;
    border-radius: 200%;
    margin-top: 28%;
    margin-left: 50%;
}

.contactdetails{
    margin-left: 1.2%;
    color: white;
    font-size: 18px;
    margin-top: 2%;
    font-family: 'opensans-bold', sans-serif;
    line-height: 22px;
    font-weight: bold;
    font-style: normal; 
}

.address {
    font-family: 'Open-Sans-Regular', 'Sans-Serif';
    line-height: 22px;
    color: #7a7a7a;
    /* padding-right: 5%;
    padding-right: 10%;  */
    width: 40%;
    text-align: justify;
    margin-left: 14px;
    word-spacing: 0px;
}

.fab {
    color: white;
    margin-left: 1.6%;
    font-size: 180%;
}

.xfab :hover {
    color:  #FF7F00
}

body  {
    width: 100%;
    height: 100%;
    background-image: url('/images/teste.jpg');
    background-size: 100%;
}

.line {
    margin-left: -22%;
}

.arrow {
    margin-left: 38%;
    margin-top: 16%;
    font-size: 200%;
}

.mainimage{
    width: 100%;
    height: 800px;
    background: url(images/teste.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.secondimage {
    width: 100vW;
    height: 800px;
    background-color: #2B2B2B;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;

}


a:link { 
    color: white;
 } 
 

 /* Itens da navbar */

 .nv:link {
     text-decoration: none;
 }

 .nv:hover {
    color: #FF7F00;
    text-decoration: none;
}

.nv {
    color: white;
}
 
/* Itens da navbar */



.banner {
    margin-top: 30%;
}
.smoothscroll {
   color: white;
}

.bannerlasttext {
    margin-left: 14%;
    color: #CDCDC1;
}

ul {
    margin-left: 20%;
    display: relative;
}

.bannertitle {
    font-size: 92px;
    text-align: center;
    margin-top: -20%;
    margin-right: -2%;
    font-weight: bold;
    color: white;
}

.bannersubtitle {
    font-family: 'Libre Baskerville';
    font-size: 120%;
    width: 52%;
    margin-left: 30%;
    color: #CDCDC1
}

.bannersubtitleisolatedword {
    color: white;
}

.element.style {
    color: red;
}

.nvnames{
    font-size: 120%;
    font-family: 'Open-Sans', 'Sans-Serif';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 32px;
    
}


.sndlinesubtitle{
    margin-left: 24%;
    line-height: 2.4;
    color:#CDCDC1;
}






    


